
input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type=submit] {
  width: 30%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #4c4eaf;
  
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5b43c9;
  color: white;
}
input
{
justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  border: 3px solid #ffffff;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

.form
{
  width: 0%;
  margin: auto;
  padding: 100px;
  margin-left: 0;
  margin-right: 100;
}  
ZipCode
{
  width: 1%;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/*datepicker

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

  /*padding: 10em;
  background: #e5e5e5;
  /*font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}*/

.datepicker
{
  display: block;
  background-color: #fff;
  padding: 3px 5px;
 
  width: 190px;

}








