@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* body style*/
body {
  font-family: arial, tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
  direction: ltr;
  background-color: greenyellow;
}
/* form style*/
form {
  margin: 5% auto 5% auto;
  padding: 30px;
  width: 400px;
  display: block;
  height: auto;
  overflow: none;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 2px 1px gray;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
/* form heading style*/
.form_heading {
  font-size: 32px;
  text-align: center;
  padding-bottom: 30px;
}
/* form label style*/
form label {
  padding-bottom: 10px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  float: left;
  clear: both;
}
/* form input style*/
.input_box {
  margin: 10px 0 15px;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 2px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* form input container
for adding icon*/

.input_container {
  width: 100%;
  margin-bottom: 0px;
}

li {
  list-style: none;
}
/* vector icon style*/
.img_class {
  box-sizing: border-box;
  width: 3rem;
  position: relative;
  top: 13.9px;
  right: 12px;
  cursor: pointer;
}

/* text field and password feild glowing 
 blue when clicking on it*/
form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: cornflowerblue;
}
/* button style*/
button[type="submit"] {
  padding: 15px 50px;
  margin: 0 auto 0 auto;
  width: auto;
  text-align: center;
  background: #1abc9c;
  outline: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #bbb;
  border-radius: 50px 50px;
}
/* hover mouse on button */
button[type="submit"]:hover {
  opacity: 0.8;
}

button[type="submit"]:active {
  opacity: 0.4;
}